*{
    margin: 0;
    padding: 0;  
    font-family:Arial, Helvetica, sans-serif ;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 5px;
    background: 1px solid black;
}
.header__logo{
    width: 200px; 
}
.logo{
    width: 100%;
}
.basket{
    width: 60px;
    height: 60px;    
    fill: none;
    stroke: black;
}
.basket:hover{
    stroke: green ;
    cursor: pointer;
}
.header__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.header__list-item--first{
    font-size: 1.5rem;
    color: brown;
}
.wrap{  
    width: 60px;
    height: 60px;
    position: relative;
}

.basket__counter{
    display: none;
    text-align: center;
    position: absolute;
    background: red;
    color: white;
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
    font-weight: 700;
    border-radius: 20px;
    left: -25px;
    top: -10px;
}
.circle{
    position: absolute;
    border: 1px solid green;
    background: red;
    top: 100px;
    left: -300px;
    padding: 5px 10px;
    border-radius: 30px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

.card{
    min-width: 320px;
    max-width: 500px;
    /* border: 1px solid black; */
    border-radius: 20px;
    padding: 10px;
    font-size: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto 1fr auto auto;
    grid-template-areas: 
    "img img img"
    "name name name"
    "chose . weigth"
    "rating . price"
    "btn btn btn";
    background: radial-gradient(circle, rgba(152,211,217,0.7) 9%, rgba(111,130,139,1) 99%);    
}
.card__image-wrap{
    grid-area: img;
    overflow: hidden;   
    border-radius: 15px 15px 0px 0px;
    position: relative;
}
.card__img{
    width: 100%;
    display: block;

}

.card__head{
    grid-area: name;
    font-size: 2em;
    text-align: center;
}

.chose {
    grid-area: chose;
    display: flex;
    gap: 20px;

    

}
.weight {
    grid-area: weigth;  
    font-size: 1.2em;
    font-weight: 600;
    justify-self: end;

}

.price {
    grid-area: price;    
    font-size: 1.5em;
    font-weight: 700;
    color: brown;
    justify-self: end;

}

.buy{
    background: red;
    color: white;
    border: none;
    grid-area: btn;
    font-size: 1.1em;
    padding: 10px 40px;
    border-radius: 10px;
    justify-self: center;
    transition: .3s cubic-bezier(.17,.67,.4,1.9);
}
.buy:hover{
    padding: 10px 70px;
    outline: 4px solid red;
}
.buy:active{
    padding: 10px 40px;
}
.diameter{
    outline: 3px solid red;
    padding: 3px 10px;
    border-radius: 7px;
    transition: .3s;
    grid-area: size;
    justify-self: start;
    align-self: center;
}
.diameter--active{
    background-color: red;
    color: white;
}

.ingridients{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(222, 222, 7);
    padding: 5px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    gap: 10px;
    transition: .5s;
}

.ingr__item{
    width: 50%;
}

.card__image-wrap:hover .ingridients{
    top: 0;
      

}
.card:hover{   
    outline: 3px solid blue;
}

/* ----------------------------------------------------------------------------------Rating */


.rating{
    /* background-color: blue; */
    grid-area: rating;   
    justify-self: center;    
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.rating__items{
    display: flex;    
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    /* border: 1px solid black; */
}
.rating__item{
    border: 1px solid red;
    flex-basis: 20%;  
    height: 100%;  
}

.rating__body{    
    position: relative;
}
.rating__body::before{
    content: '★★★★★';   
    font-size: 36px;    
}
.rating__status{    
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    transition: 0.5s;
}

.rating__status::before{
    content: '★★★★★';    
    font-size: 36px; 
    color: orange;   
}

.rating__value{
    font-size: 1.5em;
}

.pizza__list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-evenly;
    justify-items: center;
}
/* -------------------------------------------------------------------------------------------------------------------------------- */

.market{
    border: 1px solid black;
    padding: 10px;
    max-height: 100vh;
    width: 550px;
    max-width: 95vw;
    min-width: 375px;
    position: fixed;   
    background: linear-gradient(180deg, lightgray 20%, rgb(123, 157, 200) 50%, lightblue 100%);
    top: 0;
    right: -550px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 1s;
}

.market__head{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 20px;
}

.market__empty{
    font-size: 2em;
    text-align: center;
}


.close {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 10px;
    background: rgb(219, 49, 49);
    position: absolute;
    top: 5px;
    right: 10px;
    
}

.close::before,
.close::after{
    content: '';
    display: block;
    background-color: white;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    position: absolute;
    top: 45%;
    left: 5%;
    transition: .3s;
}
.close::before{
    transform: rotate(45deg);
}
.close::after{
    transform: rotate(-45deg);
}

.close:hover.close::before{
    transform: rotate(90deg);
}
.close:hover.close::after{
    transform: rotate(0deg);
}

.order {
    padding: 5px;
    border-radius: 15px 0 0 15px;
    border: 1px solid black;
    display: grid;
    gap: 10px;    
    grid-template-columns: auto 1fr auto;
    grid-template-areas: 
    "foto name delete"
    "foto name count"
    "foto size price"
    
}
.market__img{
    grid-area: foto;   
    width: 200px;    
    overflow: hidden;
    border-radius: 10px 0 0 10px;
}

.counter{
    grid-area: count;
    justify-self: end;
    display: flex;
    /* width: 50px; */
    border: 1px solid black;
    border-radius: 7px;
    overflow: hidden;
}
.counter__inp{

    /* min-width: 20px; */
    display: block;
    /* min-width: 200px; */
    width: 30px;
    padding: 3px;
    text-align: center;

}
.counter__button{
    padding: 0px 5px;
    font-size: 1.5em;
    line-height: 20px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.counter__button, 
.counter__inp{
    border: none;
}
.counter__button:hover{
    background: lightblue;
}

.market__price{
    grid-area: price;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order__delete{
    grid-area: delete;
    justify-self: end;
    align-self: flex-start;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
}
.market__name{
    font-size: 1.5em;
}

.scroll{
    display: flex;
    flex-direction: column;
    overflow:auto;
    gap: 20px;
}
